/* ********** Gallery Component ********** */
.gallery {
  padding: 8rem 0;

  // .gallery__container
  &__container {
    width: 90%;

    @include mq(m) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "first first second" "third fourth fourth" "fiveth fiveth sixth" "seventh eighth eighth";
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }

    @include mq(l) {
      grid-template-areas: "first second second" "first third fourth" "fiveth fiveth sixth" "seventh eighth sixth";
    }
  }

  // .gallery__image
  &__image {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    object-fit: cover;

    &:last-child { margin-bottom: 0; }

    @include mq(m) {

      margin-bottom: 0;

      &:first-child { grid-area: first; }
      &:nth-child(2) { grid-area: second; }
      &:nth-child(3) { grid-area: third; }
      &:nth-child(4) { grid-area: fourth; }
      &:nth-child(5) { grid-area: fiveth; }
      &:nth-child(6) { grid-area: sixth; }
      &:nth-child(7) { grid-area: seventh; }
      &:last-child { grid-area: eighth; }
    }

    @include mq(l) {
      &:first-child { grid-area: first; }
      &:nth-child(2) { grid-area: second; height: 30rem; }
      &:nth-child(3) { grid-area: third; height: 30rem; }
      &:nth-child(4) { grid-area: fourth; height: 30rem; }
      &:nth-child(5) { grid-area: fiveth; height: 30rem; }
      &:nth-child(6) { grid-area: sixth; }
      &:nth-child(7) { grid-area: seventh; height: 30rem; }
      &:last-child { grid-area: eighth; height: 30rem; }
    }

  }
}
