/* ********** Hero Component ********** */
.hero {
  position: relative;

  // hero__container
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color-white);
  }

  // hero__video
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
  }

  // hero__title
  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;

    @include mq(m) { font-size: 2rem; }
    @include mq(l) { font-size: 2.5rem; }
  }

  // hero__subtitle
  &__subtitle {
    font-family: var(--secondary-font);
    font-size: 3.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 4rem;
    margin: 2rem 0;

    @include mq(m) { font-size: 4rem; }
    @include mq(l) { font-size: 5rem; margin: 3rem 0; }
  }

  // hero__description
  &__description {
    font-size: 1.8rem;
    font-style: italic;

    @include mq(m) { font-size: 2rem; }
    @include mq(l) { font-size: 2.5rem; }
  }
}
