/* ********** Project Component ********** */
.project {
  padding: 8rem 0;
  background-color: var(--primary-color);

  @include mq(l) { padding: 10rem 0; }

  // project__container
  &__container {
    width: 90%;
    text-align: center;
  }

  // project__item
  &__item {
    @include mq(m) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        padding-top: 5rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        gap: 0 3rem;
      }
    }

    @include mq(l) {
      &:last-child { gap: 0 4rem; }
    }
  }

  // project__title
  &__title {
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--text-color-white);

    @include mq(m) { font-size: 3.5rem;  font-weight: bolder; }
  }

  // project__button
  &__button {
    width: 70%;
    margin: 3rem auto 5rem;

    @include mq(m) { width: 15rem; margin: 0; }
  }

  // project__card
  &__card {
    position: relative;
    margin-bottom: 3rem;
    cursor: pointer;

    &:last-child { margin-bottom: 0; }

    @include mq(m) { margin-bottom: 0; }
  }

  // project__image
  &__image { object-fit: cover; }

  // project__details
  &__details {
    position: absolute;
    left: 2rem;
    bottom: 5rem;
    color: var(--text-color-white);
  }

  // project__name
  &__name {
    position: relative;
    font-size: 1.6rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2rem;
      height: 1rem;
      width: 5rem;
      background-color: var(--quaternary-color);
    }
  }

  // project__line
  &__line {
    margin-top: .5rem;
  }
}
