/* ********** Testimonial Component ********** */
.testimonial {
  padding: 8em 0;
  position: relative;

  // testimonial__container
  &__container {
    width: 90%;
    text-align: center;
    color: var(--text-color-black);
    overflow: hidden;
  }

  // testimonial__slider
  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 0.3s;
    left: 0;
    margin-top: 6rem;

    * { white-space: normal; }

  }

  &__slide {
    width: 100%;
    display: inline-block;
    // margin-right: 10%;
    left: 0;
    right: 0;
  }


  // testimonial__comment
  &__comment {
    padding: 1em 0;
    width: 80%;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 auto;

    @include mq(l) { width: 60%; }
  }

  &__user {
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: bolder;
  }

  &__controls {
    width: 100%;
    height: 20px;
    margin-top: 2rem;

    // testimonial__controls ul
    ul {
      width: 100%;
      text-align: center;
      z-index: 10;
    }

    // testimonial__controls li
    li {
      list-style-type: none;
      background-color: var(--primary-color);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      cursor: pointer;

      &:last-child { margin-right: 0; }

      &:hover, &.active { background-color: var(--secondary-color); transform: scale(1.2); }
    }
  }
}
