/* ********** Custom Properties ********** */
:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Cormorant', sans-serif;
  --font-size: 62.5%;
  --line-height: 1.6;

  --primary-color:    #010B19;
  --secondary-color:  #0957CB;
  --tertiary-color:   #1B222D;
  --quaternary-color: #FFF;

  --text-color-black: var(--tertiary-color);
  --text-color-white: var(--quaternary-color);

  --z-index-down:   25;
  --z-index-middle: 50;
  --z-index-up:     75;
  --z-index-above:  100;
}

/* ********** Breakpoints ********** */
$breakpoints: (
  xs: 480px,  /* 30em / 16 */
  s:  600px,  /* 37.5em / 16 */
  m:  768px,  /* 45em / 16 */
  l:  1024px, /* 64em / 16 */
  xl: 1200px  /* 75em / 16 */
);
