mixin breadcrumbs(parent, pageTitle)
  nav(class="breadcrumbs", aria-label="breadcrumbs")
    ol.breadcrumbs__container.l-container
      li.breadcrumbs__item
        a(class="breadcrumbs__link", href="./") Home #[span â¯]
      if parent != ''
        li.breadcrumbs__item
          a(class="breadcrumbs__link", href="./") #{parent}  #[span â¯]
        li.breadcrumbs__item: span #{pageTitle}
      else
        li.breadcrumbs__item: span #{pageTitle}
