mixin breadcrumbs(location, pageTitle)
  nav(class="breadcrumbs", aria-label="breadcrumbs")
    ol.breadcrumbs__container.l-container
      li.breadcrumbs__item
        a(class="breadcrumbs__link", href="./") Home #[span â¯]
      li.breadcrumbs__item
        a(class="breadcrumbs__link", href=`${location}`) #{pageTitle}
