section.community
  .community__container.l-container
    h2.text.text--title Communities
    p.text.text--subtitle Where Dreams Come Home
    .community__wrapper
      article.property__item.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/miami-beach.png", alt="Numy's Miami Beach")
          .card__property
            h3.card__name Miami Beach
      article.property__item.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/miami-beach-island.png", alt="Numy's Miami Beach Island")
          .card__property
            h3.card__name Miami Beach Island
      article.property__item.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/miami-homes.png", alt="Numy's Weston")
          .card__property
            h3.card__name Weston
      article.property__item.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/miami-brickell.png", alt="Numy's Brickell")
          .card__property
            h3.card__name Brickell
