section.community
  .community__container.l-container
    h2.text.text--title Communities
    p.text.text--subtitle Where Dreams Come Home
    .community__wrapper
      .property__item
        img(class="property__image", src="/assets/images/miami-beach.png", alt="Numy's Miami Beach")
        h3.property__type Miami Beach
      .property__item
        img(class="property__image", src="/assets/images/miami-beach-island.png", alt="Numy's Miami Beach Island")
        h3.property__type Miami Beach Island
      .property__item
        img(class="property__image", src="/assets/images/miami-homes.png", alt="Numy's Homes")
        h3.property__type Homes
      .property__item
        img(class="property__image", src="/assets/images/miami-brickell.png", alt="Numy's Brickell")
        h3.property__type Brickell
