section.community
  .community__container.l-container
    h2.text.text--title Communities
    p.text.text--subtitle Where Dreams Come Home
    .community__wrapper
      article.property__item.card
        a(class="card__link", href="./miami-beach.html")
          img(class="card__image", loading="lazy", src="/assets/images/miami-beach.png", alt="Numy's Miami Beach")
          .card__property
            h3.card__name Miami Beach
      article.property__item.card
        a(class="card__link", href="./fisher-island.html")
          img(class="card__image", loading="lazy", src="/assets/images/miami-fisher-island.png", alt="Numy's Fisher Island")
          .card__property
            h3.card__name Fisher Island
      article.property__item.card
        a(class="card__link", href="./weston.html")
          img(class="card__image", loading="lazy", src="/assets/images/miami-homes.png", alt="Numy's Weston")
          .card__property
            h3.card__name Weston
      article.property__item.card
        a(class="card__link", href="./brickell.html")
          img(class="card__image", loading="lazy", src="/assets/images/miami-brickell.png", alt="Numy's Brickell")
          .card__property
            h3.card__name Brickell
