section.exclusive
  .exclusive__container.l-container
    h2.text.text--title Exclusive Listings
    p.text.text--subtitle Well Apointed Modern Living
    .exclusive__wrapper
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/lake.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/frontwater.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/pool.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/house-pool.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/beach.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image", loading="lazy", src="/assets/images/garden.png", alt="New Property Listing")
          span.card__flag New Listing
          .card__property
            span.card__price 6,800,000
            p.card__offers 5 Bed(s) 6 Bath(s) 3441 Sq.Ft.
            address.card__address 6675 Sheffield Ln Miami Beach, FL 33141
    a(class="button button--blue exclusive__button", href="exclusive-listings.html") Explore more exclusive listings
