section.exclusive
  .exclusive__container.l-container
    h2.text.text--title Exclusive Listings
    p.text.text--subtitle Well Apointed Modern Living
    .exclusive__wrapper#exclusive

    a(class="button button--blue exclusive__button", href="./exclusive-listings.html") Explore more exclusive listings

  template#exclusiveTemplate
    article.card
      a(class="card__link", href="javascript:void(0)")
        img(class="card__image card__image--thumbnail", loading="lazy", src="", alt="")
        span.card__flag New Listing
        .card__property
          span.card__price
          p.card__offers
          address.card__address
