footer.footer
  .footer__container.l-container
    .footer__item
      img(class="footer__logo", src="/assets/images/logo-white.svg", alt="Numy's Homes logo")
    .footer__item
      h5.footer__title Phone
      a(class="footer__link", href="tel:3058902523") 305 890 2523
    .footer__item
      h5.footer__title Address
      address.footer__text 1940 N. Commerce Parkway, Suite 2 Weston Fl 33326 Weston, Florida, EE. UU. 33331
    .footer__item
      h5.footer__title Contact
      a(class="footer__link", href="mailto:contact@numyhomes.com") contact@numyhomes.com
    .footer__item
      a(class="footer__link", target="_blank", rel="nofollow noopener noreferrer", href="https://wa.me/13058902523"): img(class="footer__icon", loading="lazy", src="/assets/images/icon-whatsapp.svg", alt="Numy's Homes WhatsApp")
      a(class="footer__link", target="_blank", rel="nofollow noopener noreferrer", href="https://www.instagram.com/realtor_numary_/"): img(class="footer__icon", loading="lazy", src="/assets/images/icon-instagram.svg", alt="Numy's Homes Instagram")
      a(class="footer__link", target="_blank", rel="nofollow noopener noreferrer", href="https://www.facebook.com/RealtorNumary/"): img(class="footer__icon", loading="lazy", src="/assets/images/icon-facebook.svg", alt="Numy's Homes Facebook")
      a(class="footer__link", target="_blank", rel="nofollow noopener noreferrer", href="https://www.linkedin.com/in/numary-pena-774982116/"): img(class="footer__icon", loading="lazy", src="/assets/images/icon-linkedin.svg", alt="Numy's Homes LinkedIn")
    .footer__item
      .footer__wrapper
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="noopener noreferrer") Privacy Policy
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="noopener noreferrer") Terms & Conditions
      .footer__wrapper
        p.footer__text #[span © 2021 Numy’s Homes.] All rights reserved
