section.hero
  .hero__container.l-container
    .hero__item
      h1.hero__title Global Real Estate Advisor
      h2.hero__subtitle Real Estate Just Got Friendlier
      p.hero__description Your experts in navigating the Florida real estate market

