section.hero
  .hero__container
    video(class="hero__video", autoplay, muted, loop, poster="/assets/images/numy-hero.png")
      source(src="https://24e3d2766e918fc4369a-2005f80a01533296a927e19ca48f1dcf.ssl.cf1.rackcdn.com/viac/VIAC%20LUXURY%20REAL%20ESTATE%20OF%20MIAMI.m4v", type="video/mp4")
    .hero__wrapper
      h1.hero__title Global Real Estate Advisor
      h2.hero__subtitle Real Estate Just Got Friendlier
      p.hero__description Your experts in navigating the Florida real estate market

