section.market
  .market__container.l-container
    h2.text.text--title MARKET UPDATES
    p.text.text--subtitle Unparalleled Customer Service
    .market__wrapper
      .market__item
        span.market__amount 100
        p.market__award Newest Listing #[a(class="market__link", href="javascript:void(0)") View Listing]
      .market__item
        span.market__amount 80
        p.market__award Most Expensive Listings #[a(class="market__link", href="javascript:void(0)") View Listing]
      .market__item
        span.market__amount 60
        p.market__award Recent Sales #[a(class="market__link", href="javascript:void(0)") View Listing]
