header.menu
  .menu__container.l-container
    a(class="menu-logo", href="/"): img(class="menu-logo__image", src="/assets/images/logo-white.svg", alt="Numy's Homes Black Logo")
    .menu__wrapper
      a(class="menu-language", href="javascript:void(0)"): img(class="menu__icon", src="/assets/images/icon-language.svg", alt="Available languagues")
      .menu-hamburger#hamburger: .menu-hamburger__body
      nav.menu-nav#menu
        ul.menu-nav__container
          li.menu-nav__item
            a(class="menu-nav__link", href="/") Home
          li.menu-nav__item
            a(class="menu-nav__link", href="javascript:void(0)") About
          li.menu-nav__item
            a(class="menu-nav__link", href="javascript:void(0)") Exclusive Listings
          li.menu-nav__item
            a(class="menu-nav__link", href="javascript:void(0)") Services
          li.menu-nav__item
            a(class="menu-nav__link", href="javascript:void(0)") Contact
