section.project
  .project__container.l-container
    .project__item
      h2.project__title New and Pre-construction Projects
      a(class="button button--white project__button", href="./new-projects.html") See All
    .project__item#projects

  template#projectsTemplate
    article.card
      a(class="card__link", href="javascript:void(0)")
        img(class="card__image card__image--thumbnail", loading="lazy", src="", alt="")
        .card__property
          h3.card__name
