section.project
  .project__container.l-container
    .project__item
      h2.project__title New and Pre-construction Projects
      a(class="button button--white project__button", href="javascript:void(0)") See All
    .project__item
      article.project__card
        img(class="project__image", src="/assets/images/coral-lago.png", alt="Coral Lago")
        .project__details
          h3.project__name Coral Lago
      article.project__card
        img(class="project__image", src="/assets/images/reintree.png", alt="Rentree")
        .project__details
          h3.project__name Rentree
      article.project__card
        img(class="project__image", src="/assets/images/parc-view-villas.png", alt="Parc View Villas")
        .project__details
          h3.project__name Parc View Villas
