section.property
  .property__container.l-container
    h2.text.text--title Property Types
    p.text.text--subtitle Your Dreams. Your Goals. Your Story.
    .property__wrapper
      .property__item
        img(class="property__image", src="/assets/images/condos.png", alt="Numy's Condos")
        h3.property__type Condos
      .property__item
        img(class="property__image", src="/assets/images/luxury-rentals.png", alt="Numy's Luxury Rentals")
        h3.property__type Luxury Rentals
      .property__item
        img(class="property__image", src="/assets/images/town-house.png", alt="Numy's Tow House")
        h3.property__type Town House
      .property__item
        img(class="property__image", src="/assets/images/homes.png", alt="Numy's Homes")
        h3.property__type Homes
      .property__item
        img(class="property__image", src="/assets/images/land.png", alt="Numy's Land")
        h3.property__type Land
      .property__item
        img(class="property__image", src="/assets/images/waterfront-homes.png", alt="Numy's Waterfront Homes")
        h3.property__type Waterfront Homes
