section.property
  .property__container.l-container
    h2.text.text--title Property Types
    p.text.text--subtitle Your Dreams. Your Goals. Your Story.
    .property__wrapper
      article.property__item.card
        a(class="card__link", href="./condos.html")
          img(class="card__image", loading="lazy", src="/assets/images/condos.png", alt="Numy's Condos")
          .card__property
            h3.card__name Condos
      article.property__item.card
        a(class="card__link", href="./luxury-rentals.html")
          img(class="card__image", loading="lazy", src="/assets/images/luxury-rentals.png", alt="Numy's Luxury Rentals")
          .card__property
            h3.card__name Luxury Rentals
      article.property__item.card
        a(class="card__link", href="./town-house.html")
          img(class="card__image", loading="lazy", src="/assets/images/town-house.png", alt="Numy's Town House")
          .card__property
            h3.card__name Town House
      article.property__item.card
        a(class="card__link", href="./homes.html")
          img(class="card__image", loading="lazy", src="/assets/images/homes.png", alt="Numy's Homes")
          .card__property
            h3.card__name Homes
      article.property__item.card
        a(class="card__link", href="./land.html")
          img(class="card__image", loading="lazy", src="/assets/images/land.png", alt="Numy's Land")
          .card__property
            h3.card__name Land
      article.property__item.card
        a(class="card__link", href="./waterfront-homes.html")
          img(class="card__image", loading="lazy", src="/assets/images/waterfront-homes.png", alt="Numy's Waterfront Homes")
          .card__property
            h3.card__name Waterfront Homes
