section.team
  .team__container.l-container
    h3.team__title Numy Team
    .team__wrapper
      .team__item
        img(class="team__image", src="/assets/images/team-01.png", alt="")
      .team__item
        img(class="team__image", src="/assets/images/team-02.png", alt="")
      .team__item
        img(class="team__image", src="/assets/images/team-03.png", alt="")
