section.testimonial#sliderTestimonial
  .testimonial__container.l-container
    h2.text.text--title TESTIMONIALS
    p.text.text--subtitle What Our Clients Are Saying
    .testimonial__slider
      .testimonial__slide
        p.testimonial__comment “Numy is very communicative and anticipates his clients needs. she is very up to date on real estate market conditions. I have worked with Numy in both buying and selling transactions and he has done a great job in both situations. I highly recommend for your real estate needs."
        h4.testimonial__user - Carlos Dias
      .testimonial__slide
        p.testimonial__comment “Our family highly recommends working with Numy. Even before we signed a contract, Numy was willing to show our home to prospective buyers. She is incredibly responsive, she knows the market extremely well, and we appreciated how hard Numy worked to find a new family for our home."
        h4.testimonial__user - Luis Nunes
      .testimonial__slide
        p.testimonial__comment “Excellent individual, professional, easy going, couldn’t want a better Realtor. Not only was she in charge of selling our home, but was also involved in selling our previous home. Both experiences were very positive!"
        h4.testimonial__user - Jose Luis Salinas
      .testimonial__slide
        p.testimonial__comment “Numy is the ultimate professional. She was able to get my apartment sold quick and at the right price. I definitely recommend Numary for anyone looking to buy or sell a property in South Florida."
        h4.testimonial__user - Paola Medina
    .testimonial__controls #[ul]
