section.testimonial#sliderTestimonial
  .testimonial__container.l-container
    h2.text.text--title TESTIMONIALS
    p.text.text--subtitle What Our Clients Are Saying
    .testimonial__slider
      .testimonial__slide
        p.testimonial__comment “Numary and her fantastic team are by far the best real estate professionals I have ever dealt with. After meeting with several other local realtors, I decided that Nancy was a perfect match and the best person to use to help sell our house in Miami Beach".
        h4.testimonial__user - Mike Ortiz | 3135 Gifford Lane Unit A | Coconut Grove
      .testimonial__slide
        p.testimonial__comment “Numary and her fantastic team are by far the best real estate professionals I have ever dealt with. After meeting with several other local realtors, I decided that Nancy was a perfect match and the best person to use to help sell our house in Miami Beach".
        h4.testimonial__user - Daniel Molina | 2510 NE 182nd Ter | North Miami Beach
    .testimonial__controls #[ul]
