extends ../template.pug
append variables
  - pageTitle       = 'About'
  - metaDescription = 'Numy reside in Miami and practice as Real Estate Agent, willing to meet the requirements proposed by my clients both local and international.'
  - ogUrl           = 'https://numyhomes.com/about.html'
  - ogImage         = 'https://numyhomes.com/assets/images/numy.jpg'

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('About Numy Realtor', 'numy-about-mobile.png', 'numy-about-tablet.png', 'numy-about.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('/about.html', pageTitle)

  //- Numy Section
  section.numy
    .numy__container.l-container
      img(class="numy__image", src="/assets/images/numy.png", alt="Realtor Numy Peña")
      .numy__wrapper
        h2.numy__title Meet Numy
        p.numy__description Bachelor in Business Administration, with Post Graduate in Management of Human Resources, Venezuelan, professional and producer in the area of Insurance, with experience and career as a Business Manager in the National Bank of Venezuela and Area Manager in Sales, with skills Business and Management for more than 15 years. I currently reside in Miami and practice as Real Estate Agent, willing to meet the requirements proposed by my clients both local and international, with the aim of guiding and advising them in the purchase-sale, rent of the best property and / or business, administration of Properties and everything related to the real estate branch.

  //- Team Section
  include ../includes/team.pug

  //- Video Section
  include ../includes/parallax.pug
  +parallax('Maximum Commercial Value', 'Honesty, Smooth and Transparent Transactions')
