extends ../template.pug
append variables
  - pageTitle       = 'About'
  - metaDescription = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('About Numy Realtor', 'numy-about-mobile.png', 'numy-about-tablet.png', 'numy-about.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('/about.html', pageTitle)
