extends ../template.pug
append variables
  - pageTitle       = 'Condos'
  - metaDescription = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('Condos', 'numy-condos-mobile.png', 'numy-condos-tablet.png', 'numy-condos.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('/condos.html', pageTitle)
