extends ../template.pug
append variables
  - pageTitle       = 'Exclusive Listings'
  - metaDescription = "Exclusive listings if you are looking for a property in all Miami zones through Numy's Homes."
  - ogUrl           = 'https://numyhomes.com/exclusive-listings.html'
  - ogImage         = 'https://numyhomes.com/assets/images/numy.jpg'

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('Exclusive Listings', 'numy-exclusive-mobile.png', 'numy-exclusive-tablet.png', 'numy-exclusive.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('', pageTitle)

  //- Exclusive Listings Section
  section.exclusive
    .exclusive__container.l-container
      .exclusive__wrapper.exclusive__wrapper--view#property

    template#propertyTemplate
      article.card
        a(class="card__link", href="javascript:void(0)")
          img(class="card__image card__image--thumbnail", loading="lazy", src="", alt="")
          span.card__flag New Listing
          .card__property
            span.card__price
            p.card__offers
            address.card__address

  //- Navigation Section
  nav.navigation
    ol.navigation__container.l-container#navigation

    template#navigationTemplate
      li.navigation__item: a(class="navigation__link navigation__link--prev", href="javascript:void(0)") Prev
      li.navigation__item: a(class="navigation__link navigation__link--next", href="") Next
