extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Project Section
  include ../includes/project.pug

  //- Exclusive Listings Section
  include ../includes/exclusive.pug

  //- Property Types Section
  include ../includes/property.pug
