extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = "Whether you are looking for a home or an investment property with Numy's Home real estate just got friendlier."
  - ogUrl           = 'https://numyhomes.com/'
  - ogImage         = 'https://numyhomes.com/assets/images/numy.jpg'

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Project Section
  include ../includes/project.pug

  //- Exclusive Listings Section
  include ../includes/exclusive.pug

  //- Property Types Section
  include ../includes/property.pug

  //- Communities Section
  include ../includes/community.pug

  //- Market Updates Section
  include ../includes/market.pug

  //- Testimonials Section
  include ../includes/testimonial.pug
