extends ../template.pug
append variables
  - pageTitle       = ''
  - metaDescription = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Main Section
  main#main
    //- Slider Section
    section.slider#slider
      .slider__container
        .slider__carousel
          .slider__item
            img(class="slider__image", loading="lazy", data-img="first", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="second", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="third", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="fourth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="fiveth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="sixth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="seventh", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="eighth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
          .slider__item
            img(class="slider__image", loading="lazy", data-img="nineth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        .slider__controls #[ul]
      .slider__wrapper
        h1.slider__price
        p.slider__offers
        address.slider__address

  template#propertyTemplate
    //- Breadcrumbs Section
    nav(class="breadcrumbs", aria-label="breadcrumbs")
      ol.breadcrumbs__container.l-container
        li.breadcrumbs__item
          a(class="breadcrumbs__link", href="/") Home #[span ❯]
        li.breadcrumbs__item
          a(class="breadcrumbs__link", data-id="category", href="")
        li.breadcrumbs__item
          a(class="breadcrumbs__link", data-id="currentPage", href="javascript:void(0)")

    //- Summary Section
    .summary
      .summary__container.l-container
        .summary__item
          .summary__feature
            img(class="summary__icon", src="/assets/images/icon-beds.svg", alt="Total Beds")
            .summary__wrapper
              span(class="summary__total", data-id="totalBeds")
              span.summary__name Beds
          .summary__feature
            img(class="summary__icon", src="/assets/images/icon-baths.svg", alt="Total Baths")
            .summary__wrapper
              span(class="summary__total", data-id="totalBaths")
              span.summary__name Baths
          .summary__feature
            img(class="summary__icon", src="/assets/images/icon-sqft.svg", alt="Total Sq. Ft.")
            .summary__wrapper
              span(class="summary__total", data-id="SqFt")
              span.summary__name Sq. Ft.
          .summary__feature
            img(class="summary__icon", src="/assets/images/icon-lot.svg", alt="Total Lot")
            .summary__wrapper
              span(class="summary__total", data-id="totalArea")
              span.summary__name Area
        .summary__item
          p.summary__details

    //- Property Section
    section.details
      .details__container.l-container
        h2.details__title Key Details
        .details__wrapper
          .details__content
            .details__item
              p.details__name Bedrooms
              span(class="details__amount", data-amount="totalBeds")
            .details__item
              p.details__name Full Bathrooms
              span(class="details__amount", data-id="fullBaths")
            .details__item
              p.details__name Living Space
              span(class="details__amount", data-amount="SqFt")
          .details__content
            .details__item
              p.details__name Total Bathrooms
              span(class="details__amount", data-amount="totalBaths")
            .details__item
              p.details__name Half Bathrooms
              span(class="details__amount", data-id="halfBaths")
            .details__item
              p.details__name Lot Area
              span(class="details__amount", data-amount="totalArea")

    //- Gallery Section
    .gallery
      .gallery__container.l-container
        img(class="gallery__image", data-img="tenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="eleventh", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="twelfth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="thirteenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="fourteenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="fifteenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="sixteenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")
        img(class="gallery__image", data-img="seventeenth", src="/assets/images/numy-hero.png", alt="Numy's Homes Real Estate")

    //- Map Section
    iframe(src="", width="100%", height="500", style="border:0;", allowfullscreen="", loading="lazy")
