extends ../template.pug
append variables
  - pageTitle       = 'Services'
  - metaDescription = 'Luxe Services I offer full service for all my clients. Please contact me if you need help with anything!'
  - ogUrl           = 'https://numyhomes.com/services.html'
  - ogImage         = 'https://numyhomes.com/assets/images/numy.jpg'

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('Luxe Services', 'numy-services-mobile.png', 'numy-services-tablet.png', 'numy-services.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('/services.html', pageTitle)
