extends ../template.pug
append variables
  - pageTitle       = 'Waterfront Homes'
  - metaDescription = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Banner Section
  include ../includes/banner.pug
  +banner('Waterfront Homes', 'numy-waterfront-mobile.png', 'numy-waterfront-tablet.png', 'numy-waterfront.png')

  //- Breadcrumbs Section
  include ../includes/breadcrumbs.pug
  +breadcrumbs('/waterfront-homes.html', pageTitle)
